@{
    ViewData["Title"] = "Pagina Inicial";
}


<main>
    <section class="secao d-flex justify-content-center align-items-center">
        <div>
            <h1 class="align-items-center">Bem-vindo Novamente!!</h1>  
            <hr>
            <h2>Carlos Engineer FullStack</h2>
            <br>
            <h4>Apresentação: </h4>
            <hr>

            <p>Aqui um pouco das funcionalidades da sua <strong>"Agenda"</strong>, como funciona e suas atribuições.</p>
        
            <h4>Funcionalidades da Agenda:</h4>
            <hr>
            <ul>
                <li>Criação de novos contatos</li>
                <li>Atualizações dos contatos</li>
                <li>Deletar contatos</li>
            </ul>
            
            <h4>Ferramentas utilizadas no projeto:</h4>
            <hr>
            <ul>
                <li>Banco de dados SqlServer</li>
                <li>Arquitetura MVC</li>
                <li>API Restfull</li>
            </ul>
        </div>
        <div class="foto d-block w-50">
            <img src="~/imagens/csharp.webp" alt="">
        </div>
    </section>
</main>


