@{
    ViewData["Title"] = "Meus Contatos";
}
<h1>@ViewData["Title"]</h1>
<hr>

<section>
    <div>
        <h4><br>Gostou do Projeto! Quer me contratar ?<br>Segue os meus contatos:</h4>
        <hr>
        <div>
            <ul>
                <li><a href="https://github.com/CarlosEngineer">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/carlos-eduardo-desenvolvedor-fullstack/">Linkedin</a></li>
                <li><a href="https://github.com/CarlosEngineer">GitHub</a></li>
            </ul>
        </div>
        <hr>
    </div>
</section>

